<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>login</h1>
    <form id="login_data" action="/api/user/login" method="post">
        <h1 id="username">username</h1>
        <input id="username_input" type="text">
        <h2 id="password_input">password</h2>
        <input id="password" type="text">
         <button class="submit">submit</button>
    </form>
    <h1>register</h1>
    <form id="register_data" action="/api/user" method="post">
        <h1 id="email">email</h1>
        <input id="email_input" type="text">
        <h1 id="username">username</h1>
        <input id="username_input" type="text">
        <h2 id="password_input">password</h2>
        <input id="password" type="text">
         <button class="submit">submit</button>
    </form>
</body>
</html>