<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Nook</title>
  </head>
  <body>
    <h1>Welcome {{username}}</h1>
    {{#if loggedIn}}
      <form action="/api/users/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
      <a href="/journal"><button>Create a new entry</button></a>
    {{else}}
      <a href="/login"><button>Login or create an account</button></a>
    {{/if}}
  </body>
</html>