<h2 class="text-info display-4">Journal</h2>
<div class=" d-flex flex-column mb-2">
  <form action="/api/books" method="POST">
    <div class="mb-2">
      <label for="title">Title</label>
      <input id="title" class="" type="text" name="title" required />
    </div>
    <div class="mb-2">
      <label for="author">Author</label>
      <input id="author" type="text" name="author" required />
    </div>
    <div class="mb-2">
      <label for="synopsis">Synopsis</label>
      <input id="synopsis" class="p-3" type="text" name="synopsis" required />
    </div>
     <div class="rating-box">
      <header>How was your experience?</header>
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    {{!-- Hidden inputs --}}
    <div>
      <input id="user_id" type="hidden" name="user_id" value={{userId}} />
      <input id="time_stamp" type="hidden" name="time_stamp" value={{timeStamp}} />
    </div>
    <div>
      <button type="submit" class="btn btn-outline-secondary ">Submit</button>
    </div>
  </form>
</div>
<script src="/js/script.js"></script>
