<h2>Journal</h2>
<form action="/api/users/login" method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" required />
  <label for="author">Author</label>
  <input id="author" type="text" name="author" required />
  <label for="synopsis">Synopsis</label>
  <input id="synopsis" type="text" name="synopsis" required />
  <label for="rating">Rating</label>
  <input id="rating1" type="radio" name="rating" />
  <input id="rating2" type="radio" name="rating" />
  <input id="rating3" type="radio" name="rating" />
  <button class="submit">Submit</button>
</form>