<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h2>Login</h2>
    {{#if message}}
      {{message}}
    {{/if}}
    <form id="login_data" action="/api/users/login" method="POST">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required />
      <button class="submit">Login</button>
    </form>
    <h2>Create new account</h2>
    <form id="register_data" action="/api/users" method="POST">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" required />
      <label for="username">Username</label>
      <input id="username" type="text" name="username" required />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" required />
      <button class="submit">Submit</button>
    </form>
  </body>
</html>